@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Koulen, Arial, Helvetica, sans-serif;
}


div {
    margin: 30px;
}

.lfloat {
    float: left;
}

.lfloat img{
    float: left;
}

/* header */
.title {
    text-align: center;
    color: #e3117a;
    margin-bottom: 60px;
}

.description {
    text-align: center;
    margin: 0px 100px;
}

/* main */
.margin-all {
    margin: 0 420px;
}

img {
    height: 87px;
    margin-right: 10px;
}

span {
    display: block;
    color: white;
}
.background-1 {
    background-color: black;
    width: 280px;
}

.name-bold {
    font-weight: bold;
}

.description-person {
    font-size: small;
}

.ombra {
    box-shadow:
    5px  5px 10px #dedede,
    -5px -5px 10px #dedede,
     5px -5px 10px #dedede,
    -5px  5px 10px #dedede;
}